.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 274px;
  height: 374px;
  padding: 1rem;
  margin-bottom: 20px;
  border-radius: var(--border-radius);
  background: white;
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}
